* text=auto
*.a binary
*.asax text
*.axml text
*.bt2 binary
*.config text
*.cpp text
*.cs text diff=csharp
*.csproj text
*.css text
*.dll binary
*.exe binary
*.filters text
*.gitattributes text
*.gitignore text
*.h text
*.hpp text
*.html text
*.inl text
*.java text
*.jpg binary
*.js binary
*.list text
*.log binary
*.m binary
*.markdown binary
*.mdb binary
*.mk text
*.mobileprovision binary
*.monotouch_uploaded text
*.nib binary
*.o binary
*.plist text
*.png binary
*.resx text
*.rtf text
*.s text
*.settings text
*.sln text
*.so binary
*.txt text
*.userprefs text
*.vcxproj text
*.vsixmanifest text
*.xaml text
*.xcent text
*.xib text
*.xml text
*.zip binary
